<%- include("partials/header.ejs") %>

<h1>Terrance Nightingale's</h1>
<h2>Restaurant Review Blog</h2>

<!-- Gets posts, if any, and adds them to the page -->
<!-- Also adds an Edit and Delete button for each post -->
<% if (locals.posts) { %>
    <% posts.forEach((post) => { %>
    <div class="post">
        <h1 class="flex-item"><%= post.title %></h1>
        <p class="flex-item"><%= post.body %></p>
        <form action="/edit-post" method="POST">
            <input type="hidden" name="id" value="<%= post.id  %>">
            <input class="flex-item" type="text" name="editTitle" value="Title of Post">
            <input class="flex-item" type="text" name="editBody" value="Body of Post">
            <input class="flex-item" type="submit" value="Edit Post">
        </form>
        <form action="/delete-post" method="POST">
            <input type="hidden" name="id" value="<%= post.id  %>">
            <input type="submit" value="Delete Post">
        </form>
    </div>
    <% })} %>

<form action="/create-post" method="POST">
    <input class="flex-item" type="text" name="title" placeholder="Enter blog title here">
    <input class="flex-item" type="text" name="body" placeholder="Enter blog text here">
    <button>Create Post</button>
</form>

<%- include("partials/footer.ejs") %>
